.popup__user-name {
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	max-width: 358px;
	min-height: 27px;
	padding-bottom: 9px;
	margin: 50px auto 0;
	width: 100%;
	outline: none;
	font-size: 14px;
}

@media (max-width: 580px) {
	.popup__user-name {
		max-width: 238px;
		margin-top: 74px;
	}
}