.profile__info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	max-width: 336px;
}

@media (max-width: 680px) {
	.profile__info {
		max-width: 282px;
	}
}
