.popup__title {
	margin: 34px 36px 0;
	padding: 0;
	font-weight: 900;
	font-size: 24px;
	color: #000;
	box-sizing: border-box;
}

@media (max-width: 580px) {
	.popup__title {
		font-size: 18px;
		line-height: 22px;
		margin: 26px 22px 0;
	}
}