.profile__avatar-img {
  position: relative;
  grid-area: profile__avatar;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .profile__avatar-img {
    margin: 0 auto;
  }
}
